= form.grouped_collection_select :addressable, [ Tfc::Mdm::Club, Tfc::Mdm::Person ], :all, :model_name, :to_global_id, :human
= form.input :line1
= form.input :line2
= form.input :street
= form.input :zipcode
= form.input :city
= form.input :country
= form.input :valid_from
= form.input :valid_to