.col-12.mb-2
  .form-inline
    = form.input :line1_cont
    = form.input :line2_cont
.col-12.mb-2
  .form-inline
    = form.input :street_cont
    = form.input :zipcode_cont
    = form.input :city_cont
    = form.input :country_eq