= table.thumbnail :logo
= table.thumbnail :favicon
= table.row :name
= table.association :establishment, label_method: :human, link_to: ->(r) { [r.establishment] }
= table.timestamp :established_at
= table.row :active_members_count
= table.row :active_members_average_age
= table.timestamps