= form.input :logo
= form.input :name
= form.input :line1
= form.input :line2
= form.input :street
= form.input :zipcode
= form.input :city
= form.input :country
= form.input :happened_at, as: :string, input_html: { type: :date }
= form.input :call_create_club_from_establishment_service, as: :fake_checkbox