.row
  .col
    %h1= "#{resource_class.model_name.human(count: :other)} (#{@collection.count})"

.row
  .col
    = collection_table(collection: @collection) do |table|
      = table.thumbnail :logo, title: false
      = table.column :name, title: false
      = table.column :actions, title: false do |resource|
        - capture_haml do
          = link_to(resource, class: 'btn btn-primary btn-sm') do
            %i.fa.fa-eye
            = t('.show')
