%h1= @resource.human

#branch-valid-from
  %p= l(@resource.valid_from)

#branch-valid-to
  %p= l(@resource.valid_to)

#branch-description= @resource.description(:html)

.page-actions.row
  .col-12
    = link_to(main_app.root_path, class: 'btn btn-secondary btn-responsive') do
      %i.fas.fa-chevron-left
      %span.btn-text= t('.back')