= form.input :salutation_cont
= form.input :firstname_cont
= form.input :lastname_cont
= form.input :street_cont
= form.input :zipcode_cont
= form.input :city_cont
= form.input :phone_cont
= form.input :email_cont