= turbo_frame_tag(params[:turbo_frame] || dom_class(resource_class)) do
  .row
    .col-12
      %h1= t(".title")

  .row
    .col-12
      = resource_table(resource: @resource) do |table|
        = table.association :club, label_method: :human
        = table.association :category, label_method: ->(r) { r.human_value_name(:identifier) }
        = table.money :current_fee, label_method: :human do |r|
          - humanized_money_with_symbol(r.current_fee&.amount)
        = table.field :membership_state do |r|
          - capture_haml do
            %span.badge{ class: "badge-#{r.membership_state}"}= r.human_value_name(:membership_state)

  .row
    .col-12
      %h3= Tfc::Mdm::Memberships::Event.model_name.human(count: :other)
    .col-12
      = collection_table(collection: @resource.events) do |table|
        = table.association :event_type, label_method: :human
        = table.timestamp :happened_at

.row
  .col
    = link_to({ action: :index }, class: 'btn btn-primary btn-sm') do
      %i.fa.fa-arrow-left
      = t('.back')
