= table.id sort: true
= table.association :club, label_method: :human, sort: true, link_to: ->(r) { tfc_mdm_backend.url_for(r.club) }
= table.association :person, label_method: :human, sort: true, link_to: ->(r) { tfc_mdm_backend.url_for(r.person) }
= table.association :category, label_method: :human, sort: true, link_to: ->(r) { tfc_mdm_backend.url_for(r.category) }
= table.timestamp :active_from, sort: true
= table.timestamp :active_to, sort: true
= table.boolean :active do |r|
  - capture_haml do
    %span.badge{ class: "badge-#{r.active? ? 'success' : 'danger'}"}= r.active
= table.timestamps sort: true