= table.association :record, label_method: :human
= table.association :role, label_method: :identifier, link_to: ->(r) { url_for(r.role) }, sort: { column_name: :"tfc_mdm_addresses_roles.identifier" }
= table.timestamp :valid_from, sort: true
= table.timestamp :valid_to, sort: true
= table.column :line1, sort: true
= table.column :line2, sort: true
= table.column :street, sort: true
= table.column :zipcode, sort: true
= table.column :city, sort: true
= table.column :country, sort: true
= table.timestamps sort: true